<div class="row">
    <div class="container">
       
    <div class="redes" >
        
        <a href="https://www.linkedin.com/in/karen-diaz-a308561ab/"> <i class="fa-brands fa-linkedin fa-2x " style="font-size: 50px;" id="linkedin"></i></a>
        
        <a href="https://github.com/karennn332"><i class="fa-brands fa-square-github fa-2x" style="font-size: 50px;" id="github"></i></a>
        <button type="button" class="btn btn-dark" (click)="login()" *ngIf="!isLogged" >INGRESAR</button>
        <button type="button" class="btn btn-dark" (click)="onLogOut()"  *ngIf="isLogged" >CERRAR SESION</button>

    </div>
    </div>
    </div>
