
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoargP{
    width: 150px;
}
.fa-brands, button {
    color: chocolate;
   
}
.redes{
    margin-right: 0.5rem;
}
