
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoargP{
    width: 150px;
}
.fa-brands, button {
   
    color: rgb(52, 54, 55);
   
}
.redes{
    margin-right: 0,5rem;
    margin-left: auto;
    margin-top: 0,5rem;
}
.row{
    background-color: rgb(210, 187, 255);
}
.btn-dark{
    
    color: blueviolet;
}