<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-11">
    <p id="parraEstudios">
      Secundario completo.
      Me encanta aprender, no solo me dedique al rubro de  la estetica sino que fui realizando cursos de mi interes a lo largo de estos años.
      Dejo adjunto algunos certificados 
    </p>
    </div>

    <div class="container gallery-container">
      
      <div class="tz-gallery">
  
          <div class="row">
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="">
                      <img src="../../../assets/img/IMG-20230210-WA0025.jpg" alt="certAP">
                  </a>
              </div>
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="">
                      <img src="../../../assets/img/IMG-20230210-WA0010.jpg" alt="Bridge">
                  </a>
              </div>
              <div class="col-sm-12 col-md-4">
                  <a class="lightbox" href="">
                      <img src="../../../assets/img/IMG-20230210-WA0014.jpg" alt="acces">
                  </a>
              </div>
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="">
                      <img src="../../../assets/img/IMG-20230210-WA0016.jpg" alt="Ppoint">
                  </a>
              </div>
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="">
                      <img src="../../../assets/img/IMG-20230210-WA0020.jpg" alt="internet">
                  </a>
              </div>
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="">
                      <img src="../../../assets/img/IMG-20230210-WA0024.jpg" alt="excel">
                  </a>
              </div>
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="../images/rocks.jpg">
                      <img src="../../../assets/img/IMG-20230210-WA0012.jpg" alt="secundario">
                  </a>
              </div>
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="">
                      <img src="../../../assets/img/IMG-20230210-WA0018.jpg" alt="word">
                  </a>
              </div>
              <div class="col-sm-6 col-md-4">
                  <a class="lightbox" href="">
                      <img src="../../../assets/img/IMG-20230210-WA0022.jpg" alt="windows">
                  </a>
              </div>
          </div>
  
      </div>
  
  </div>
  
  </div>