<div class="row">
    <h1> Hard & Soft skills</h1>
<div class="col-lg-2">
    <button type="button" routerLink="/newskill" class="btn btn-danger" *ngIf="isLogged">Nueva Skill</button>

</div>

 <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
    <circle-progress
    [percent]="(skill.porcentaje)"
    [radius]="70"
    [showUnits]="false"
    [title]="(skill.nombre)"
    [titleColor]="'white'"
    [titleFontSize]="'1em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="100"
    [outerStrokeColor]="'cornflowerblue'"
    [innerStrokeColor]="'red'"
    [animation]="true"
    [animationDuration]="600"
    [showTitle]="true"
    [showUnits]="false"
    [showBackground]="true"
        ></circle-progress>

        <div>
            <td >
                <button class="btn btn-danger" routerLink="/editskill/{{skill.id}}" *ngIf="isLogged">
                <i class="fa-solid fa-pencil"></i></button></td>
       
             <td >
                <button class="btn btn-danger" (click)="delete(skill.id)" *ngIf="isLogged">
                <i class="fa-duotone fa-xmark"></i></button></td>
        </div>

 </div>
</div>
