<div class="row">
    <h1> Proyectos realizados</h1>
<div class="conteiner">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
    <h2>Portfolio web</h2>
    <p>Esta aplicación es de arquitectura distribuida y contiene un
        diseño de interfaz de usuario (front end) que muestra la información, una base de datos que almacena los datos antes mencionados y cuenta
        con las APIs necesarias para proveer a través de internet la información (back end)</p>
    </div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="../../../assets/img/2023-03-16 (1).png"
class="img-fluid" >
</div>
</div>
</div>
