<div class="row">
    <h1>Proyectos</h1> 
    <div class="col-lg-2">
     <button type="button" class="btn btn-danger" routerLink="/newproyecto/" *ngIf="isLogged">
      Agregar Proyectos
     </button>
    </div>
    
    <div class="col-lg- col-md-1"></div>
    <div class="col-lg-11 col-md-11">
        <table class="table">
            <tbody>
             <tr *ngFor="let Proyectos of proyectos">
                 <td><h2>{{Proyectos.nombreP}}</h2></td>
                 <td>{{Proyectos.descripcionP}}</td>
                     <td >
                        <button class="btn btn-secondary" routerLink="/editproyecto/{{Proyectos.id}}" *ngIf="isLogged">
                        <i class="fa-solid fa-pencil"></i>Editar</button></td>

                     <td>
                        <button class="btn btn-danger" (click)="delete(Proyectos.id)" *ngIf="isLogged">
                        <i class="fa-duotone fa-xmark"></i> Borrar </button></td>
             </tr>
            </tbody>
         </table>
    </div>
   

</div>
