.row{
    padding: 20px;
    color: chocolate;
    background-color:rgb(42, 19, 80) ;
}
div{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
/*etiqueta nombre*/
#nombre{
    font-weight:bold;
    margin-top: 40%;
    margin-left: 10px;
    font-size: 18px;
}
/*etiqueta parrafo*/
#parrafo{
    font-size: 22px;
}
/*etiqueta foto perfil*/
@media (min-width:576px){
        #fotoPerfil{
            position: absolute;
            width: 13%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px gray;
            left: 3%;
            top: 500px;
       }
}
@media (max-width:575px){
    #fotoPerfil{
        position: absolute;
        width: 35%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left:35%;
        top: 550px;
}
}
