<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/img/perfil (2).jpg" class="img-fluid" id="fotoPerfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Karen Elizabeth Diaz</p>
    <h5>Full Stack Developer Jr</h5>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
        <p id="parrafo">  Mi nombre es Karen , tengo 27 años.
            Gracias al proyecto Argentina programa puedo concretar mi sueño de estudiar programacion y adentrarme al mundo de la tecnologia. Deceo poder dedicarme a la programacion con el fin de crear nuevas tecnologias para mejorar la calidad de vida humana.</p>
    </span>
</div>

</div>
