<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
    <h3>2016-2023 </h3>
    <p>
        Me recibi en el año 2016, desde ese entonces hasta la actualidad, ademas de estar cursando la segunda etapa de argentina programa me encuentro trabajando de manera independiente en el rubro de lo estetico donde me desempeño como estilista, manicura y pedicura.
        Vale decir que tambien me encargo de la administracion, atencion al cliente, limpieza y mantenimiento de la misma.
   </p>
    </div>

</div>

