<div class="row">
    <h1> Hard & Soft skills</h1>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="70"
    [showUnits]="false"
    [title]="'Html'"
    [titleColor]="'white'"
    [titleFontSize]="'1em'"
    [showSubtitle]="false"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="100"
    [outerStrokeColor]="'cornflowerblue'"
    [innerStrokeColor]="'red'"
    [animation]="true"
    [animationDuration]="600"
    [showTitle]="true"
    [showUnits]="false"
    [showBackground]="true"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="70"
        [showUnits]="false"
        [title]="'Css'"
        [titleColor]="'white'"
        [titleFontSize]="'1em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="100"
        [outerStrokeColor]="'cornflowerblue'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="600"
        [showTitle]="true"
        [showUnits]="false"
        [showBackground]="true"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="55"
        [radius]="70"
        [showUnits]="false"
        [title]="'JS'"
        [titleColor]="'white'"
        [titleFontSize]="'1em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="100"
        [outerStrokeColor]="'cornflowerblue'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="600"
        [showTitle]="true"
        [showUnits]="false"
        [showBackground]="true"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [showUnits]="false"
        [title]="'Ingles'"
        [titleColor]="'white'"
        [titleFontSize]="'1em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="100"
        [outerStrokeColor]="'cornflowerblue'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="600"
        [showTitle]="true"
        [showUnits]="false"
        [showBackground]="true"
        [backgroundPadding]="50"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="35"
        [radius]="70"
        [showUnits]="false"
        [title]="'Trabajo Grupal'"
        [titleColor]="'white'"
        [titleFontSize]="'1em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="100"
        [outerStrokeColor]="'cornflowerblue'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="600"
        [showTitle]="true"
        [showUnits]="false"
        [showBackground]="true"
        [backgroundPadding]="50"
        ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="70"
        [showUnits]="false"
        [title]="'Autodidacta'"
        [titleColor]="'white'"
        [titleFontSize]="'1em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="100"
        [outerStrokeColor]="'cornflowerblue'"
        [innerStrokeColor]="'red'"
        [animation]="true"
        [animationDuration]="600"
        [showTitle]="true"
        [showUnits]="false"
        [showBackground]="true"
        [backgroundPadding]="50"
        ></circle-progress>
     </div>
</div>
